
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
.idea

.metion/
.configs/
.Archive/
.markeditor/
.markdown/
.sync/
.idea/
.DS_STORE
Thumbs.db*
/.posts_info.json
/posts_info.json
/.git_settings.json
/git_settings.json
/.ios_file_manager_status*.json
/.farbox_token.*
/.farbox_auto_sync.*
/__wechat.json
/*.sqlite3
.db/